<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <h1>{{author.name}}'s Favorite Books</h1>

    <table class="table w-50 mx-3">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Number of Pages</th>
            </tr>
        </thead>

        {% if authors_fav_books %}
        <tbody>
            {% for book in authors_fav_books %}
            <tr>
                <th>{{book.title}}</th>
                <td>{{book.num_pages}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>

    <form action="/favorites/add/{{author.id}}" method="post">
        <select name="book_id" id="favs">
            {% for non_fav in non_favs  %}
            <option value="{{non_fav.id}}">{{non_fav.title}}</option>
            {% endfor %}
        </select>
        
        <button class="btn btn-warning my-3">Add Book to Favorites</button>
    </form>


</body>

</html>